/* #region Default rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

:root {
    --mot-title-color: rgb(229, 49, 112);
    --mot-card-color: rgb(15, 14, 23);
    --mot-link-color: rgb(69, 177, 222);
    --mot-shadow-color: rgb(206, 206, 205)
}

/* #endregion Default Rules */

/* #region Utilities */

h1 {
    color: var(--mot-title-color);
    margin: 1rem 0 1.5rem 0;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

p, a {
    
    font-size: 0.7rem;
}

.subtitle {
    font-size: 1rem;
}

/* #endregion Utilities */

/* #region Main */

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.row .col {
    width: calc(100% / 3);
    padding: 2rem;
}

.col img {
    
    vertical-align:text-top;
    float: left;
    border-radius: 3%;
    height: 100%;
    
    
    
}

.col {
    text-align: left;
    line-height: 1rem;
    float: left;
    color: white;
    

}

.card {
    background-color: var(--mot-card-color);
    box-shadow: 0 0 0.3rem 0.3rem var(--mot-shadow-color);
    border-radius: 3%;
    height: 5rem;
}
.text {
    float: left;
    padding: 0.7rem;
}

.name {
    /* font-size: 1.3rem; */
    font-weight:bold;
    margin-bottom: 0.4rem;
}

a {
    color: var(--mot-link-color);
    text-decoration: none;
}





/* #endregion Main */